/*************************************************
    GENERAL STYLES
 *************************************************/
:root{
    /* COLOR  */
    --white: #FFFFFF;
    --black: #000000;
    --top-bar-bkg: #080b127e;
    --side-bar-bkg: #000000;
    --playbar-bkg: #282828;
    --main-bkg: #141922;
    --icon-light-gray: #A3A3A3;
    --main-font-gray: #7D7F84;
    --nav-font-gray: #717171;
    --green-yellow: #ADFF2F;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid blue;
    height: 50px;
}
/*************************************************
    LAYOUT
 *************************************************/
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-bkg);
    color: var(--white);
}
.wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
main{
    width: 100%;
    height: calc(100vh - 90px); 
}
/*************************************************
    COMMON
 *************************************************/
ul{
    list-style: none;
}
.d-flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.d-block{
   display: block;
}
.mb-1{
    margin-bottom: 1.5rem;
}
a{
    color: var(--white);
    text-decoration: none;
}
a:hover, .content-menu ul li a:hover,
a:hover, .content-menu ul li a:active,
a:focus, .content-menu ul li a:focus{
    color: var(--white);
}
.text-uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}
.menu-text{
    font-size: 16px;
    font-weight: bold;
    color: var(--main-font-gray);
    margin-bottom: 1.5rem;
}
.section-title{
    font-size: 24px;
    font-weight: bold;
}
.album-title{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}
.subtitle{
    font-size: 13px;
    font-weight: bold;
    color: var(--main-font-gray);
    margin-top: 0.75rem;
}
ul li{
    list-style: none;
}
img{
    width: 100%;
    max-width: 100%;
    display: block;
}
/*************************************************
    LEFT SIDEBAR
 *************************************************/
.left-sidebar{
    width: 230px;
    height: 100%;
    background-color: var(--side-bar-bkg);
    color: var(--nav-font-gray);
    min-height: 480px;
}
.top-nav{
    height: calc(100% - 90px);
    width: 100%;
}
.logo img{
   width: 80%;
   margin: .75rem;
}
.logo-small{
    display: none;
}
.icon-small{
    height: 26px;
    width: auto;
    vertical-align: text-bottom;
    display: inline-block;
}
.nav-main ul li a{
    width: 100%;
    border-left: 2px solid var(--side-bar-bkg);
    padding: 5px 20px;
}
.nav-main ul li a.active{
    color: var(--white);
    border-left: 2px solid var(--green-yellow);
}
.playlist-container{
    overflow: hidden;
    padding: 40px 20px;
}
.playlist-container h2{
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
}
.add-playlist{
    margin: 1rem 0;
    display: block;
    font-size: 15px;
    line-height: 37px;
}
.add-playlist span::before{
    display: inline-block;
    content: '+';
    width: 37px;
    height: 37px;
    margin-right: 10px;
    background-color: var(--green-yellow);
    font-size: 35px;
    text-align: center;
    line-height: 37px;
    vertical-align: middle;
    color: black;
}
.playlist{
    height: 80%;
    overflow-y: auto;
    padding-bottom: 20px;
}
.playlist li a{
    line-height: 2rem;
}
.bottom-bar{
    height: 90px;
    width: 100%;
}
.bottom-bar a:first-child {
    border-bottom: 1px solid var(--nav-font-gray);
    margin: 1rem;
    padding-bottom: .50rem;
}
.bottom-bar a i{
    margin-right: 10px;
}
.bottom-bar a:first-child i{
    color: var(--green-yellow);
    margin-right: 10px;
}
.user{
    color: var(--side-bar-bkg);
    background-color: var(--green-yellow);
    border-radius: 50%;
    padding: 5px;
    margin-left: .75rem;
}
.user-name{
    font-weight: bold;
}
/*************************************************
    MAIN
 *************************************************/
.main-content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--main-bkg);
    overflow: auto; 
}
/*************************************************
    TOP BAR
 *************************************************/
.top-bar{
    width: calc(100% - 230px);
    height: 90px;
    background-color: var(--top-bar-bkg);
    position: fixed;
    top: 0;
    left: 230px;
    z-index: 1000;
}
.top-bar .btn{
    border: 1px solid var(--white);
    border-radius: 30px;
    padding: 0.75rem 2rem;
    margin-right: 1rem;
    font-size: 14px;
    font-weight: bold;
}
.top-bar a.btn:hover, .top-bar a.btn:active, .top-bar a.btn:focus{
    transform: scale(1.1);
    /* transition: ease-in-out; */
}
/*************************************************
    INNER CONTENT
 *************************************************/
.inner-content{
    height: 100%;
    margin-top: 80px;
    padding: 2rem;
}
.content-menu ul li a{
    padding: .50rem .75rem;
    display: inline-block;
}
.content-menu ul li a.active::after{
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: var(--green-yellow);
    margin: 5px auto;
}
/*************************************************
    COVER SECTION
 *************************************************/
 .covers{
    margin: 0 -10px;
}
.cover{
    width: calc(100% / 6);
    padding: 10px;
    cursor: pointer;
}
.rounded-cover{
    border-radius: 50%;
    overflow: hidden;
}
.cover:hover .cover-overlay{
    display: flex;
}
.cover-image{
    position: relative;
}
.cover-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--top-bar-bkg);
    font-size: 5rem;
    display: none;
}
/*************************************************
    PLAYBAR
 *************************************************/
.playbar{
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    z-index: 2000;
    background-color: var(--playbar-bkg);
    padding: 0 0.5rem;
}
 .music-player {
    --padding: 0.5em;
    padding: var(--padding);
    height: 90px;
    padding-top: 0.75rem;
    position: relative;
}
i:hover{
    color: var(--green-yellow);
}
.song-bar {
    position: absolute;
    left: var(--padding);
    gap: 1.5rem;
    width: 25%;
}
.song-infos {
    gap: 1em;
}
.image-container {
    --size: 2.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song-description p {
    margin: 0.2em;
}
.title{
    font-size: 12px;
    font-weight: bold;
    color: var(--white);
}
.artist{
    font-size: 10px;
    font-weight: bold;
    color: var(--nav-font-gray);
}
.title,
.artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.title:hover,
.artist:hover {
    text-decoration: underline var(--green-yellow);
}

.icons{
    gap: 1rem;
    padding-left: 1rem;
    color: var(--icon-light-gray);
}
.progress-controller{
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0.50rem;
    color: var(--white);
}
.control-buttons{
    gap: 2em;
}

.progress-container{
    width: 100%;
    gap: 1em;
}
.progress-bar{
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: var(--nav-font-gray);
}
.progress{
    position: relative;
    height: 100%;
    width: 25%;
    border-radius: 10px;
    background-color: var(--icon-light-gray);
}
.progress-bar:hover .progress{
    background-color: var(--green-yellow);
}

.other-features{
    position: absolute;
    right: var(--padding);
    gap: 1em;
    color: var(--white);
}
.volume-bar{
    gap: .7em;
}
.volume-bar .progress-bar{
    width: 6em;
}
 .play{
    font-size: 30px;
    vertical-align: middle;
 }
 .play:hover{
    transform: scale(1.1);
}
 
 .timing{
    font-size: 10px;
    font-weight: bold;
    color: var(--white);
 }
 /************************************************
    RESPONSIVE
 ************************************************/
 /* DESKTOP  */
 @media screen and (max-width:1200px) {
    .cover{
        width: calc(100% / 4);
    }
}   
 /* TABELET  */
 @media screen and (max-width:992px) {
   .cover{
    width: calc(100% / 3);
    }
    .logo img{
        width: 70%;
        margin: 1rem;
     }
 }
 /* PHONE S  */
 @media screen and (max-width:768px) {
    .cover{
        width: calc(100% / 2);
    }
    .icons{
        padding-left: 0;
    }
    .progress-container{
        width: 60%;
    }
}
 /* PHONE XS  */
 @media screen and (max-width:576px) {
    .cover{
        width: 100%;
    }
    .left-sidebar{
        width: 50px;
    }
    .main-content{
        width: calc(100% - 50px);
    }
    .top-bar{
        width: calc(100% - 50px);
        left: 50px;
    }
    .logo{
        display: none;
    }
    .logo-small{
        display: block;
        width: 60%;
        margin: .75rem auto;
    }
    span{
        display: none;
    }
    .nav-main ul li a{
        border-left: none;
        padding: 0;
        margin:.75rem;
    }
    .nav-main ul li a.active{
        border-left: none;
    }
    .bottom-bar a:first-child {
        border-bottom: none;
    }
    .user{
        background-color: var(--white);
    }
    .playlist-container{
        display: none;
    }
    .song-infos{
        gap: 0.50em;
    }
   
    .icons{
        flex-direction: column;
        gap: .50rem;
    }
    .progress-container{
        width: 80%;
    }
    .other-features i{
        width: 10px;
    }
    .volume-bar .progress-bar{
        width: 4em;
    }
}





